langchain 
langchain-tavily
langchain-huggingface
langchain-chroma
langchain_community

llama-index
llama-index-embeddings-huggingface
llama-index-llms-langchain
llama-index-llms-llama-cpp

llama-cpp-python 
sentence-transformers
duckduckgo-search

fastapi
docx2txt
uvicorn 
sse-starlette
python-multipart
watchdog
langgraph